body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
}
.container {
    background: linear-gradient(45deg, #FF0000, #333);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input, button {
    margin: 10px;
    padding: 8px;
}
button {
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
#password {
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
}
.signup-link {
margin-top: 20px;
font-size: 1em;
color: #fff;

}

.header{
    color:#222;
    margin: auto;
}